{% extends 'base.html.twig' %}

{% block title %}Profession{% endblock %}

{% block body %}
    <h1>Profession</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ profession.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ profession.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_clientelle_profession_index') }}">back to list</a>

    <a href="{{ path('app_admin_clientelle_profession_edit', {'id': profession.id}) }}">edit</a>

    {{ include('admin/clientelle/profession/_delete_form.html.twig') }}
{% endblock %}
