{% extends 'base.html.twig' %}

{% block title %}Materiel{% endblock %}

{% block body %}
    <h1>Materiel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materiel.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ materiel.nom }}</td>
            </tr>
            <tr>
                <th>Datebuy</th>
                <td>{{ materiel.datebuy ? materiel.datebuy|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ materiel.prix }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ materiel.quantite }}</td>
            </tr>
            <tr>
                <th>Rame</th>
                <td>{{ materiel.rame }}</td>
            </tr>
            <tr>
                <th>Disque</th>
                <td>{{ materiel.disque }}</td>
            </tr>
            <tr>
                <th>Core</th>
                <td>{{ materiel.core }}</td>
            </tr>
            <tr>
                <th>Systeme</th>
                <td>{{ materiel.systeme }}</td>
            </tr>
            <tr>
                <th>Generation</th>
                <td>{{ materiel.generation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_parc_informatique_materiel_index') }}">back to list</a>

    <a href="{{ path('app_admin_parc_informatique_materiel_edit', {'id': materiel.id}) }}">edit</a>

    {{ include('admin/parc_informatique/materiel/_delete_form.html.twig') }}
{% endblock %}
